<div class="schedule_header">
  <div class="StartDateSelector">
    <label>Start Date:</label>
    <%= select_date(@start_date, order: [:month, :day, :year]) %>
  </div>
  <div>
    <label>Phase ends on:</label>
    <span class="stop_date_text"><%= @schedule.last_date.to_formatted_s(:weekday_and_mdy) %></span>
  </div>
  <div>
    <label>Doses taken:</label>
    <span class="taken_dose_count_text">
      <%= @schedule.taken_dose_count %>
    </span>
    of 
    <%= @schedule.dose_count %>
  </div>
  <div>
    <label>Doses missed:</label>
    <span class="missed_dose_count_text">0</span> doses missed.
  </div>
</div>