<div class="row week_row">
  <div class="col-md-1 week_col">
    <div class="week_number_big">
      #<%= n %>
    </div>
    <div class="week_dose_count">
      <%= week.dose_count %> doses
    </div>
  </div>

  <%- week.days.each do |day| -%>
    <div class="col-md-1 day_col">
      <%- if day.dose_count > 0 -%>
        <div class="highlight_day">
          <div class="day_dose_count">
            <span class="glyphicon glyphicon-record"></span>
          </div>
          <div class="day_date">
            <%= day.date.to_formatted_s(:short) %>
          </div>
        </div>
      <% else %>
        <div class="">
          <div class="day_dose_count no_symbol">
           -
          </div>
          <div class="day_date">
            <%= day.date.to_formatted_s(:short) %>
          </div>
        </div>
      <% end -%>
    </div>
  <% end -%>
</div>