<div class="container">
  <h1>What is this?</h1>

  <p>This is a scheduling tool designed to help providers track where a patient is in their treatment regimen for active TB. The goal of this tool is to help you quickly find out where your patient falls in their treatment schedule, calculate how many doses they have taken, and how many remain. It also tells you when the next treatment phase begins.</p>

  <h2>What about privacy?</h2>
  <p>This website does not have a database and does not record any information that you enter. Period.</p>
</div>