<div class="container About">
  <h2>About</h2>
  <div class="row">
    <div class="col-md-6 about_text_body">
      <h4>Phase Guide helps providers calculate medication regimens for patients with active tuberculosis.</h4>

      <p>
        It shows a patient's progress in a treatment schedule, calculates the amount of doses taken, and the amount that remain. If a patient misses a dose, then the schedule will be adjusted.
      </p>

      <h4>Should I worry about privacy?</h4>
      <p>
        Phase Guide does not store <em>any</em> of the information that you enter.
      </p>

      <h4>Who built this?</h4>
      <p>
        Phase Guide was built by David Crockett, a student at Dartmouth Medical School, during a clerkship in family medicine at the Tsèhootsooí Medical Center in the Navajo Nation. You may contact him by email at: David.M.Crockett.Med (at) Dartmouth.edu. He welcomes all comments and concerns, and would be psyched to hear from you!
      </p>
    </div>

  </div>
</div>