<div class="container">
  
  <%= render :partial => 'schedule_header' %>

  <div class="Schedule" data-taken-dose-count="<%= @phase.taken_dose_count %>">
    <%- @phase.weeks.each_with_index do |week, index| -%>
      <%= render :partial => 'continuation_phase_week', :locals => {week: week, index: index} %>
    <% end -%>

    <%- @phase.catchup_weeks.each_with_index do |week, index| -%>
      <%= render :partial => 'continuation_phase_week', :locals => {week: week, index: index} %>
    <% end -%>

  </div>

</div>

