<div class="container">

  <div class="schedule_header">

    <div class="StartDateSelector">
      <label>Start Date:</label>
      <%= select_date(@start_date, order: [:month, :day, :year]) %>
    </div>
    Phase ends on:
    <span class="stop_date_text"><%= @schedule.last_date.to_formatted_s(:weekday_and_mdy) %></span>.
    Today is day 15 of 56; and dose 3 of 32. The patient has missed 12 doses.
    
  </div>

  <div class="Schedule">
    <%- @schedule.weeks.each_with_index do |week, index| -%>
      <%= render :partial => 'week', :locals => {week: week, index: index} %>
    <% end -%>

    <%- @schedule.catchup_weeks.each_with_index do |week, index| -%>
      <%= render :partial => 'week', :locals => {week: week, index: index} %>
    <% end -%>

  </div>

</div>

