<div class="container">

  <%= render :partial => 'schedule_header' %>


  <div class="Schedule" data-taken-dose-count="<%= @schedule.taken_dose_count %>">
    <%- @schedule.weeks.each_with_index do |week, index| -%>
      <%= render :partial => 'week', :locals => {week: week, index: index} %>
    <% end -%>

    <%- @schedule.catchup_weeks.each_with_index do |week, index| -%>
      <%= render :partial => 'week', :locals => {week: week, index: index} %>
    <% end -%>

  </div>

</div>

