<div class="container">

  <div id="schedule_dropdown">
    <%= form_tag("/schedule", method: 'get') do %>
      <%= select_date %>

      <button>Submit</button>
    <% end %>
  </div>

</div>

<script type="text/javascript">

jQuery(function(){
  new DropDownController("#schedule_dropdown")
});
</script>